/*
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*/

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@600;700&display=swap');

:root {
    --primary: #0d6efc;
    --dark: #21252f;
    --body: #888;
    --box-shadow: 0 8px 22px rgba(0, 0, 0, 0.356);

}



section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.card-effect{
  box-shadow: var(--box-shadow);
  background-color: #fff;
  padding: 36px;
  transition: all 0.35s ease;
}

.card-effect:hover {
  box-shadow: none;
  transform: translateY(5px);
}

.iconbox {
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  color: #fff;
  font-size: 38px;
  border-radius: 100px;
  flex: none;
}

.service {
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.service::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: -100%;
  left: 0;
  background-color: rgba(233, 125, 24, 0.863);
  z-index: -1;
  opacity: 0;
  transition: all 0.4s ease;
}

.service:hover .iconbox {
  background-color: #fff;
  color: var(--primary);
}

.service:hover h5,
.service:hover p {
  color: #fff;
}

.service:hover::after {
  opacity: 1;
  top: 0;
}

.col-img {
  /*background-image: url(2cover.jpg);*/
  background-position: center;
  background-size: cover;
  min-height: 700px;

}

.board-member img {
  width: 125px;  
  height: 120px;
  border-radius: 100px;
}

form input.form-control {
  height:56px;
}

form .form-control {
  border: transparent;
 
  background-color: rgba(0, 0, 0, 0.02);
}

.footer-top {
  padding-bottom: 90px;
  padding-top: 60px;
  background-color: rgb(247, 155, 35);
}

.footer-top a {
  color: black;
}


.footer-top a:hover {
  color: white;
}