/*
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*/

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@600;700&display=swap');

:root {
    --primary: #0d6efc;
    --dark: #21252f;
    --body: #888;
    --box-shadow: 0 8px 22px rgba(0, 0, 0, 0.356);

}



.navbar {
  box-shadow: var(--box-shadow);
}

.navbar .nav-link {
  font-size: 14px;
  font-weight: 700;
}

