body {
    font-family: Sora, "sans-serif";
    line-height: 1.7;
    color: var(--body);
    
}

h1,h2,h3,h4,h5,h6,
.display-4 {
    color: var(--dark);
    font-weight: 700;

}


.btn {
  padding: 7px 7px;
  border-width: 2px;
  border-radius: 2;
}

.hero {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 2;

}

.hero::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left:0;
  background-color: rgba(21, 20, 51, 0.096);
  z-index: -1;
  
}
.logo_rep_bottom {
  color: rgb(14, 13, 13);
  text-decoration: solid;
  text-shadow: 10%;
 }
