body {
    font-family: Sora, "sans-serif";
    line-height: 1.7;
    color: var(--body);
    
}

h1,h2,h3,h4,h5,h6,
.display-4 {
    color: var(--dark);
    font-weight: 700;

}


.btn {
  padding: 7px 7px;
  border-width: 2px;
  border-radius: 2;
}